table {
    border-collapse: collapse;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 12px;
}

td {
    border: solid #000 1px;
    min-width: 80px;
}

.browser {
    color: red;
    text-align: center;
}